<div class="repeater"{{#each data}} data-{{name}}="{{value}}"{{/each}} id="{{#if id}}{{id}}{{else}}myRepeater{{/if}}">
	<div class="repeater-header">
		<div class="repeater-header-left">
			<span class="repeater-title">{{#if title}}{{title}}{{else}}Awesome Repeater{{/if}}</span>
			<div class="repeater-search">
				<div class="search input-group">
					<input type="search" class="form-control" placeholder="Search"/>
					<span class="btn-group">
						<button class="btn btn-secondary" type="button">
							<span class="{{#unless mctheme}}bi bi-search{{else}}fuelux-icon fuelux-icon-search{{/unless}}"></span>
							<span class="visually-hidden">Search</span>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="repeater-header-right">
			<div class="btn-group selectlist repeater-filters" data-resize="auto">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
					<span class="selected-label">&nbsp;</span>
					<span class="caret"></span>
					<span class="visually-hidden">Toggle Filters</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{{#each filters}}
						<li data-value="{{value}}" {{#if selected}}data-selected="true"{{/if}}><a href="#">{{text}}</a></li>
					{{/each}}
				</ul>
				<input class="hidden hidden-field" name="filterSelection" readonly="readonly" aria-hidden="true" type="text"/>
			</div>
			<div class="btn-group repeater-views" data-bs-toggle="buttons">
				<label class="btn btn-secondary active">
					<input name="repeaterViews" type="radio" value="list"><span class="{{#unless mctheme}}bi bi-list-ul{{else}}fuelux-icon fuelux-icon-gridview-list{{/unless}}"></span>
				</label>
				<label class="btn btn-secondary">
					<input name="repeaterViews" type="radio" value="thumbnail"><span class="{{#unless mctheme}}bi bi-grid-3x3-gap{{else}}fuelux-icon fuelux-icon-gridview-thumbnail{{/unless}}"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="repeater-viewport">
		<div class="repeater-canvas"></div>
		<div class="loader repeater-loader"></div>
	</div>
	<div class="repeater-footer">
		<div class="repeater-footer-left">
			<div class="repeater-itemization">
				<span><span class="repeater-start"></span> - <span class="repeater-end"></span> of <span class="repeater-count"></span> items</span>
				<div class="btn-group selectlist" data-resize="auto">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
						<span class="selected-label">&nbsp;</span>
						<span class="caret"></span>
						<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{{#each itemsPerPage}}
							<li data-value="{{value}}" {{#if selected}}data-selected="true"{{/if}}><a href="#">{{text}}</a></li>
						{{/each}}
					</ul>
					<input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text"/>
				</div>
				<span>Per Page</span>
			</div>
		</div>
		<div class="repeater-footer-right">
			<div class="repeater-pagination">
				<button type="button" class="btn btn-secondary btn-sm repeater-prev">
					<span class="{{#unless mctheme}}bi bi-chevron-left{{else}}fuelux-icon fuelux-icon-chevron-left{{/unless}}"></span>
					<span class="visually-hidden">Previous Page</span>
				</button>
				<label id="{{pageLabelID}}" class="page-label">{{pageLabel}}</label>
				<div class="repeater-primaryPaging active">
					<div class="input-group input-append dropdown combobox">
						<input type="text" class="form-control" aria-labelledby="{{pageLabelID}}">
						<div class="btn-group">
							<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
								<span class="caret"></span>
								<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-end"></ul>
						</div>
					</div>
				</div>
				<input type="text" class="form-control repeater-secondaryPaging" aria-labelledby="{{pageLabelID}}">
				<span>of <span class="repeater-pages"></span></span>
				<button type="button" class="btn btn-secondary btn-sm repeater-next">
					<span class="{{#unless mctheme}}bi bi-chevron-right{{else}}fuelux-icon fuelux-icon-chevron-right{{/unless}}"></span>
					<span class="visually-hidden">Next Page</span>
				</button>
			</div>
		</div>
	</div>
</div>
