@using FuseCP.WebDavPortal.Resources
@using FuseCP.WebDavPortal.UI.Routes
@model FuseCP.WebDavPortal.Models.ModelForWebDav
           

<partial name="_ShowContentTopMenu" model="Model" />

<div class="prevent-deselect container">
    <table id="search-items-table" class="display table table-striped table-bordered noselect" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@UI.File</th>
                <th>@UI.Details</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            fcp.fileBrowser.setSettings({ deletionUrl: "@Url.RouteUrl(FileSystemRouteNames.DeleteFiles)" });
            fcp.fileBrowser.initSearchDataTable('#search-items-table', '@Url.RouteUrl(FileSystemRouteNames.ShowContentDetails)', '@Model.SearchValue');
        });
    </script>
    <script src="~/Scripts/appScripts/FCP-webdav.js"></script>
}

