<button type="button" class="btn{{#if btn-style}} {{btn-style}}{{else}} btn-secondary{{/if}}" data-bs-toggle="modal" data-bs-target="#{{target-id}}" {{#each data}}data-{{name}}="{{value}}" {{/each}}>
	{{text}}
</button>